<div class="flash-container">
  <% if (success && success.length > 0) { %>
    <div class="flash flash-success">
      <span><%= success %></span>
      <button onclick="this.parentElement.remove()">×</button>
    </div>
  <% } %>

  <% if (error && error.length > 0) { %>
    <div class="flash flash-error">
      <span><%= error %></span>
      <button onclick="this.parentElement.remove()">×</button>
    </div>
  <% } %>
</div>