<footer>
  <div class="f-info">

    <div class="f-info-socials">
      <a href="https://facebook.com" target="_blank">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="https://instagram.com" target="_blank">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://linkedin.com" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <div class="f-info-text">
      <span>© 2026 RentEase Pvt. Ltd.</span>
      <span class="divider">|</span>
      <span> +91 9309474399</span>
    </div>

    <div class="f-info-links">
      <a href="/terms">Privacy</a>
      <span class="divider">|</span>
      <a href="/terms">Terms</a>
    </div>

  </div>
</footer>